*{
    box-sizing: border-box;
    margin:10px auto;
}
body {
    font-size: 16px;
    background-color: white;
    font-weight: 400;
}
header {
    display:flex;
    justify-content: space-between;
}
ul, li {
    display: flex;
    position: relative;
    right: 120px;
    bottom: 8px;
    gap: 30px;
}
a {
    text-decoration: none;
    color: hsl(220, 14%, 75%);
    
}
.header-2 {
    position: relative;
    right: 350px;
    bottom: 15px;
}
#header-2 {
    display: flex;
    gap: 30px;
}
.image-avatar {
    width: 40px;
    height: 40px;
}
.line {
    width: 760px;
    height: 1px;
    background-color: black;
    opacity: 0.2;
    position: relative;
    right: 175px;
    bottom: 40px;
}
#container {
    display: flex;
}
#container-items-1 {
display: inline-block;
position: relative;
bottom: 20px;
}
.item-1 {
width: 280px;
height: 280px;
border-radius: 10px;
}
.item-2 {
width: 55px;
height: 55px;
display: inline-block;
border-radius: 10px;
}
.four {
    position: relative;
    left: 48px;
    bottom: 15px;
}
.three {
    position: relative;
    left: 33px;
    bottom: 15px;
}
.two {
    position: relative;
    left: 15px;
    bottom: 15px;
}
.one {
    position: relative;
    bottom: 15px;
    border: 1px solid red;
    opacity: 0.5;
}
#container-items-2 {
    width: 370px;
    height: 200px;
    position: relative;
    right: 250px;
    top: 20px;
}
h1 {
    font-size: 15px;
    color: hsl(0, 0%, 0%);
    opacity: 75%;
}
h5 {
    font-size: 8px;
    color:hsl(26, 100%, 55%);
    opacity: 0.5;
}
.item-4 {
    font-size: 12px;
    color:  hsl(220, 14%, 75%);
}
.item-5 {
    display: inline-flex;
    gap: 15px;
}
.bold {
    font-size: 16px;
    color: #000;
}
span {
    font-size: 10px;
    border: 1px solid white;
    border-radius: 2px;
    position: relative;
    top: 2px;
    height: 12px;
    background-color:hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
}
.last {
    font-size: 10px;
    color:hsl(220, 14%, 75%);
    position: relative;
    bottom: 25px;
    text-decoration: line-through;
}
.btn-1 {
    display: inline-flex;
    align-content: center;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    background-color:  hsl(223, 64%, 98%);
}
.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 35px;
    border-radius: 5px;
    position: relative;
    bottom: 53px;
    right: 20px;
    font-size: 12px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-color: white;
}
svg {
    width: 22px;
    height: 20px;
    position: relative;
    left: 15px;
}
.cart {
    position: relative;
    right: 10px;
}
#container-btn {
    position: relative;
    bottom: 25px;
}
.minus {
    position: relative;
    right: 7px;
    bottom: 5px;
    color: hsl(26, 100%, 55%);
}
.zero {
    height: 2px;
    position: relative;
    bottom: 5px;
    color: black;
}
.plus {
    position: relative;
    left: 7px;
    bottom: 5px;
    color: hsl(26, 100%, 55%);
}
